footer {
	left: 50%;
	transform: translateX(-31%);
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	.wrap {
		width: 1180px;
		display: flex;
		margin-bottom: 15px;
		h3 {
			display: flex;
			font: bold 17px/1 '맑은고딕';
			color: #696969;
			width: 170px;
			justify-content: center;
		}
	}
	.inner {
		padding-top: 30px;
		display: flex;
		border-top: 3px solid mediumturquoise;
		width: 1180px;
		.footer_logo img {
			margin-top: 20px;
			width: 200px;
		}
		.copy {
			p {
				width: 100%;
				font: 17px/1 'GmarketSansMedium';
				color: rgb(42, 42, 75);
				/* margin-left: 100px; */
				padding: 10px 0px;
				letter-spacing: 2px;
				margin-left: 50px;
			}
		}
		.footer_wrap {
			margin-left: 300px;
			display: flex;
			a img {
				width: 30px;
				margin-top: 40px;
				margin-left: 30px;
			}
		}
	}
}